beautifulsoup4~=4.10.0
certifi~=2021.10.8
chardet~=4.0.0
dataclasses~=0.6
dataclasses-json~=0.5.6
idna~=3.3
lxml~=4.6.3
marshmallow~=3.2
marshmallow-enum~=1.5.1
mypy-extensions~=0.4.3
requests~=2.26.0
selenium~=4.0.0
selenium-wire~=4.5.4
soupsieve~=2.1
stringcase~=1.2.0
typing~=3.7.4.3
typing-extensions~=3.10.0.2
typing-inspect=~0.6.0
urllib3~=1.26.7
setuptools~=58.3